<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="logo">BOOK SHOP</div>

        <nav>
            <a href="/main">Home</a>
            <a th:href="${user.getRole().equals('ADMIN')} ? '/admin' : '/profile'">Profile</a>

        </nav>
    </header>
    <div class="author-about">

        <div class="author-info">
            
            <div class="author-details">
                
                <p style="text-align: justify;"><img th:src="${author.photo}"><h2 th:text="${author.fullName}"></h2>
                <p><b>Годы жизни: </b><span th:text="${author.yearsOfLife}"></span></p>
                <p><b>Годы творчества: </b><span th:text="${author.yearsOfCreativity}"></span></p>
                <p><b>Жанры: </b><span th:each="category : ${categories}" th:text="${category.categoryName} + ' '"></span></p><span th:text="${author.biography}"></span></p>
                
            </div>
        </div>
        <hr>
        <center>
            <h3>Author's Books</h3>
            <div class="author-books">
                

                <div class="book" th:each="book : ${books}">
                <a th:href="'/book/' + ${book.id}">
                    <img th:src="${book.image}">
                    <h4 th:text="${book.title}"></h4>
                    <div class="rating">
                        <span th:each="star : ${#numbers.sequence(1, 5)}" th:class="${book.getRating() >= star} ? 'filled-star' : 'empty-star'" style="font-size: 20px; margin-left: 1px; margin-right: 1px">&#9733;</span>
                    </div>
                    <h4 th:text="${book.price} + ' тг'"></h4>
                </a>
                </div>
            </div>
        </center>
    </div>
    <footer>
        <p>BOOK SHOP</p>
        <p class="a">Jandosova, 55, Almaty, Kazakhstan</p>
        <p class="a">bookshop@company.kz</p>
        <p class="a">010-020-0340</p>
        <p>&copy; 2024 BookStore. All rights reserved.</p>
    </footer>
</body>
</html>