<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{style.css}">
</head>
<body>
    <header>
        <div class="logo">BOOK SHOP</div>
        <form method="GET" class="search">
            <input type="text" name="search" placeholder="Search..." id="search">
            <button class="srch" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <button class="filter-btn"><i class="bi bi-sliders"></i></button>
        <div class="filter-popup" style="display: none;">
            <form id="filter-form" method="get" action="/main">
                <div class="filter-group">
                    <h4>Цена:</h4>
                    <label for="price-from">от:</label>
                    <input  type="range" id="price-from" name="price-from" th:min="${minPrice}" th:max="${maxPrice}"  th:value="${minPrice}">
                    <span id="price-from-value" th:text="${minPrice}+' тг'"></span>
    
                    <label for="price-to">до:</label>
                    <input type="range" id="price-to" name="price-to" th:min="${minPrice}" th:max="${maxPrice}" th:value="${maxPrice}">
                    <span id="price-to-value"th:text="${maxPrice}+' тг'"></span>
                </div>
                
                <div class="filter-group">
                    <h4>Авторы:</h4>
                    <div th:each="author : ${authors}">
                        <input th:text="${author.fullName}" type="checkbox"  name="authors" th:value="${author.id}"/>
                    </div>
                </div>
                <div class="filter-group">
                    <h4>Жанры:</h4>
                    <div th:each="category : ${categories}">
                        <input th:text="${category.categoryName}" type="checkbox"  name="categories" th:value="${category.id}"/>

                    </div>
                </div>
                <div class="filter-group">
                    <h4>Рейтинг:</h4>
                    <label >от:</label>
                    <div id="rating-checkboxes">

                        <div class="rating-area">
                            <input type="radio" id="star-5" name="rating" value="5">
                            <label class="star" for="star-5"></label>
                            <input type="radio" id="star-4" name="rating" value="4">
                            <label class="star" for="star-4" ></label>
                            <input type="radio" id="star-3" name="rating" value="3">
                            <label class="star" for="star-3" ></label>
                            <input type="radio" id="star-2" name="rating" value="2">
                            <label class="star" for="star-2" ></label>
                            <input type="radio" id="star-1" name="rating" value="1">
                            <label class="star" for="star-1" ></label>
                        </div>
            
                    </div>
                    <button type="submit" id="apply-filter-btn" class="btn-details" style="bottom: 0px; position: relative">Применить</button>
                </div>
                
            </form>
        </div>
        <nav>
            <a href="/main">Home</a>
            <a th:href="${user.getRole().equals('ADMIN')} ? '/admin' : '/profile'">Profile</a>
        </nav>
    </header>
    <div class="container">

        <div th:each="book : ${books}" class="book">
            <a th:href="'/book/' + ${book.id}">
                <img th:src="${book.image}">
                <h2 th:text="${book.title}"></h2>
                <p th:text="${book.author.fullName}"></p>
                <div class="rating">
                    <span th:each="star : ${#numbers.sequence(1, 5)}" th:class="${book.getRating() >= star} ? 'filled-star' : 'empty-star'" style="font-size: 25px; margin-right: 1px; margin-left: 1px;">&#9733;</span>
                </div>
                <h3 th:text="${book.price}+' тг'"></h3>
            </a>
        </div>

    </div>
    <footer>
        <p>BOOK SHOP</p>
        <p class="a">Jandosova, 55, Almaty, Kazakhstan</p>
        <p class="a">bookshop@company.kz</p>
        <p class="a">010-020-0340</p>
        <p>&copy; 2024 BookStore. All rights reserved.</p>
    </footer>
    <script src="../static/script.js" th:src="@{script.js}"></script>
</body>
</html>
