<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="logo">BOOK SHOP</div>
        
        <nav>
            <a href="main.html">Home</a>
            <a href="profile.html">Profile</a>
            <a href="log-reg.html">Login</a>
        </nav>
    </header>
    <div class="book-about">
        <div class="book-description">
            <img th:src="${book.image}">
            <div class="book-info">
                <div class="rat-tit">
                    <div class="h2"><h2 th:text="${book.title}"></h2></div>
                    <div class="rating">&#9733; &#9733; &#9733; &#9734; &#9734;</div>
                </div>

                <p><b>Автор: </b><a th:href="@{'/author/' + ${book.author.id}}" class="author" href="author.html"><span th:text="${book.author.fullName}"></span></a></p>
                <p><b>Жанры: </b><span th:each="category : ${categories}" th:text="${category.categoryName} + ' '"> </span></p>
                <p><b>Страниц: </b><span th:text="${book.numberOfPages}">256</span></p>
                <p style="text-align: justify;"><span th:text="${book.description}"></span></p>
                <div class="price-btns">
                    <div class="h2"><h2 th:text="${book.price} + ' тг'"></h2></div>
                    <div class="buttons">
                        <button class="button-add-to">В избранное <i class="bi bi-heart" style="font-size: 20px;"></i></button>
                        <button class="button-add-to">В корзину <i class="bi bi-cart2" style="font-size: 20px;"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="reviews">
            <h2>Вот что пишут об этой книге</h2>
            <div class="review">
                <h3>viva_02</h3>
                <div class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <p>Потрясающая книга, которая стала одной из моих самых любимых. Эта история останется в вашем сердце надолго.</p>
            </div>
            <div class="review">
                <h3>_mike_</h3>
                <div class="rating">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
                <p>Книгу стоит прочитать хотя бы для того, чтобы иметь представление об американской классике. И для этой цели "Великий Гэтсби" - идеальный вариант, т.к. в отличие от многих произведений Фицджеральда, это лаконично и динамично.</p>
            </div>
            <div class="review">
                <h3>_mili_03</h3>
                <div class="rating">&#9733; &#9733; &#9733; &#9733; &#9734;</div>
                <p>Я очень прониклась Гэтсби, его историей, его миром! Злюсь на Дэйзи - эта женщина совсем не заслуживает его любви. Книга грустная и очень чувственная.</p>
            </div>
        </div>
        <div class="add-review">
            <h2>Оставьте свой отзыв</h2>
            <div class="rating">
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
            <textarea placeholder="Ваш отзыв..."></textarea><br>
            <button>Отправить</button>
        </div>
    </div>
    <footer>
        <p>BOOK SHOP</p>
        <p class="a">Jandosova, 55, Almaty, Kazakhstan</p>
        <p class="a">bookshop@company.kz</p>
        <p class="a">010-020-0340</p>
        <p>&copy; 2024 BookStore. All rights reserved.</p>
    </footer>
</body>
</html>