<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="logo">BOOK SHOP</div>
       
        <nav>
            <a href="main.html">Home</a>
            <a href="profile.html">Profile</a>
            <a href="log-reg.html">Login</a>
        </nav>
    </header>
    <div class="profile">
        <div class="profile-content">

            <div class="sidebar">
                <ul>
                    <li><a href="profile.html">Личные данные</a></li>
                    <li><a href="favorites.html">Избранное</a></li>
                    <li><a href="korzina.html"><b>Корзина</b></a></li>
                </ul>
                <div class="logout-btn">
                    <button>Выйти из аккаунта</button>
                </div>
            </div>
            <div class="content">
                <div class="cart">
                    <div class="items">
                        <div class="item">
                            <img src="assets/images/remark.jpg" alt="Book 1">
                            <div class="item-details">
                                <h3>Искра жизни</h3>
                                <p>Эрих Мария Ремарк</p>
                                <div class="rating">
                                    &#9733; &#9733; &#9733; &#9733; &#9734;
                                </div>
                                <p class="bookprice">2599 тг</p>
                                
                            </div>
                            <div class="item-actions">
                                <div class="quantity">
                                    <button>-</button>
                                    <span>1</span>
                                    <button>+</button>
                                </div>
                                <button class="remove-btn"><i class="bi bi-trash"></i></button>
                                <div class="item-cost">2599 тг</div>

                            </div>
                        </div>
                        <div class="item">
                            <img src="assets/images/getsb.jpg">
                            <div class="item-details">
                                
                                <h3>Великий Гэтсби</h3>
                                <p>Фрэнсис Скотт Фицджеральд</p>
                                <div class="rating">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>
                                <p class="bookprice">2399 тг</p>
                            </div>
                            <div class="item-actions">
                                <div class="quantity">
                                    <button>-</button>
                                    <span>1</span>
                                    <button>+</button>
                                </div>
                                <button class="remove-btn"><i class="bi bi-trash"></i></button>
                                <div class="item-cost">2399 тг</div>

                            </div>
                        </div>
                        <!-- Другие товары в корзине могут добавляться здесь -->
                    </div>
                </div>
                <div class="total">
                    <h3>Общая стоимость: <span id="totalPrice">0 тг</span></h3>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <footer>
        <p>BOOK SHOP</p>
        <p class="a">Jandosova, 55, Almaty, Kazakhstan</p>
        <p class="a">bookshop@company.kz</p>
        <p class="a">010-020-0340</p>
        <p>&copy; 2024 BookStore. All rights reserved.</p>
    </footer>
</body>
</html>